<?php

namespace App\Environment;

class ConfigDefault
{
    private const DEFAULTS = [
        'GH_CLIENT_ID' => 'clientIdString',
        'GH_CLIENT_SECRET' => 'clientSecretString',
        'GH_ACCOUNT' => 'account-only-name',
        'GH_REPOSITORIES' => 'myRepo1|myRepo2',
    ];

    public static function getDefault(string $name): string
    {
        return self::DEFAULTS[$name];
    }
}